Repository vuejs/eslint-plugin-vue, pull requests merged in 2018-11, with the labels that each got.

#632 Fix issues with props
  .gitignore
  lib/rules/prop-name-casing.js
  lib/rules/require-default-prop.js
  lib/rules/require-prop-type-constructor.js
  lib/rules/require-prop-types.js
  lib/rules/require-valid-default-prop.js
  lib/utils/index.js
  tests/lib/rules/prop-name-casing.js
  tests/lib/rules/require-default-prop.js
  tests/lib/rules/require-prop-type-constructor.js
  tests/lib/rules/require-prop-types.js
  tests/lib/utils/index.js
Labels: semver-patch

#675 Fix: make strict for flatten ternary expr (fixes #625)
  lib/utils/indent-common.js
  tests/fixtures/script-indent/issue625.vue
Labels: bug, indent

#676 Fix: improve comment indentation (fixes #514)
  lib/utils/indent-common.js
  tests/fixtures/html-indent/issue514.vue
Labels: bug, indent

#678 Update: add baseIndent option to vue/html-indent (fixes #292)
  docs/rules/html-indent.md
  lib/rules/html-indent.js
  lib/utils/indent-common.js
  tests/fixtures/html-indent/opts-base-indent-0.vue
  tests/fixtures/html-indent/opts-base-indent-1.vue
  tests/fixtures/html-indent/opts-base-indent-2.vue
Labels: enhancement, indent

#681 Fixed: not to indentation the contents on the `<textarea>` in `html-indent`
  lib/utils/indent-common.js
  tests/lib/rules/html-indent.js
Labels: bug, indent
