Repository vuejs/eslint-plugin-vue, pull requests merged in 2019-12, with the labels that each got.

#985 Upgrade vue-eslint-parser@^7.0.0
  package.json
Labels: semver-minor

#757 ⭐️ New: Add rule `no-reserved-component-names`
  docs/rules/no-reserved-component-names.md
  lib/rules/no-reserved-component-names.js
  lib/utils/deprecated-html-elements.json
  tests/lib/rules/no-reserved-component-names.js
Labels: new rule proposition

#646 ⭐️New: Add `component-definition-name-casing` rule.
  docs/rules/component-definition-name-casing.md
  docs/rules/name-property-casing.md
  lib/rules/component-definition-name-casing.js
  lib/rules/name-property-casing.js
  tests/lib/rules/component-definition-name-casing.js
Labels: new rule proposition

#647 ⭐️New: Add `vue/valid-v-bind-sync` rule
  docs/rules/README.md
  docs/rules/valid-v-bind-sync.md
  lib/index.js
  lib/rules/valid-v-bind-sync.js
  tests/lib/rules/valid-v-bind-sync.js
Labels: new rule proposition

#1023 fix: list semver as a dependency
  package.json
Labels: bug, dependencies
