Repository vuejs/eslint-plugin-vue, pull requests merged in 2020-06, with the labels that each got.

#1177 Add `vue/no-deprecated-dollar-scopedslots-api` rule.
  docs/rules/README.md
  docs/rules/no-deprecated-dollar-scopedslots-api.md
  lib/configs/vue3-essential.js
  lib/index.js
  lib/rules/no-deprecated-dollar-scopedslots-api.js
  tests/lib/rules/no-deprecated-dollar-scopedslots-api.js
Labels: Vue.js 3.x, new rule proposition, semver-major

#1178 Add `vue/require-slots-as-functions` rule.
  docs/rules/README.md
  docs/rules/require-slots-as-functions.md
  lib/configs/vue3-essential.js
  lib/index.js
  lib/rules/require-slots-as-functions.js
  tests/lib/rules/require-slots-as-functions.js
Labels: Vue.js 3.x, new rule proposition, semver-major

#1179 Add `vue/no-multiple-slot-args` rule.
  docs/rules/README.md
  docs/rules/no-multiple-slot-args.md
  lib/configs/recommended.js
  lib/configs/vue3-recommended.js
  lib/index.js
  lib/rules/no-multiple-slot-args.js
  tests/lib/rules/no-multiple-slot-args.js
Labels: new rule proposition, semver-major

#1180 Improved `vue/no-ref-as-operand` rule.
  docs/rules/no-ref-as-operand.md
  lib/rules/no-ref-as-operand.js
  tests/lib/rules/no-ref-as-operand.js
Labels: Vue.js 3.x

#1185 Add `vue/no-bare-strings-in-template` rule
  docs/rules/README.md
  docs/rules/no-bare-strings-in-template.md
  lib/index.js
  lib/rules/no-bare-strings-in-template.js
  lib/utils/regexp.js
  package.json
  tests/lib/rules/no-bare-strings-in-template.js
Labels: new rule proposition

#1186 Add `vue/no-useless-v-bind` rule
  docs/rules/README.md
  docs/rules/no-useless-v-bind.md
  lib/index.js
  lib/rules/no-useless-v-bind.js
  tests/lib/rules/no-useless-v-bind.js
Labels: new rule proposition

#1187 Add `vue/no-useless-mustaches` rule
  docs/rules/README.md
  docs/rules/no-useless-mustaches.md
  lib/index.js
  lib/rules/no-useless-mustaches.js
  tests/lib/rules/no-useless-mustaches.js
Labels: new rule proposition

#1189 Change `vue/component-tags-order` rule to allow name array to be specified with one order option
  docs/rules/comment-directive.md
  docs/rules/component-tags-order.md
  lib/rules/component-tags-order.js
  tests/lib/rules/component-tags-order.js
Labels: semver-major

#1190 Fixed false positives for getter/setter in `vue/no-dupe-keys` rule
  lib/utils/index.js
  tests/lib/rules/no-dupe-keys.js
Labels: bug

#1181 Changed the default order setting of `vue/order-in-components` rule.
  lib/rules/order-in-components.js
  lib/rules/require-explicit-emits.js
  tests/lib/rules/order-in-components.js
  tests/lib/rules/require-explicit-emits.js
Labels: Vue.js 3.x, semver-major

#1191 Add `vue/no-restricted-v-bind` rule
  docs/rules/README.md
  docs/rules/no-restricted-v-bind.md
  lib/index.js
  lib/rules/no-restricted-v-bind.js
  tests/lib/rules/no-restricted-v-bind.js
Labels: new rule proposition

#1192 Add `vue/no-restricted-static-attribute` rule
  docs/rules/README.md
  docs/rules/no-restricted-static-attribute.md
  lib/index.js
  lib/rules/no-restricted-static-attribute.js
  tests/lib/rules/no-restricted-static-attribute.js
Labels: new rule proposition

#1198 Fixed false positives for render props and template refs in `vue/no-unused-properties` rule.
  lib/rules/no-unused-properties.js
  lib/utils/index.js
  tests/lib/rules/no-unused-properties.js
Labels: bug

#1199 Fixed false positives for Vue 3 functional component in `vue/require-direct-export` rule.
  docs/rules/require-direct-export.md
  lib/rules/require-direct-export.js
  tests/lib/rules/require-direct-export.js
Labels: bug

#1107 Add Nuxt and Vue Router properties in `order-in-components`
  docs/rules/order-in-components.md
  lib/rules/order-in-components.js
Labels: accepted proposition, semver-major

#1204 Fixed wrong autofix in `vue/v-on-function-call` rule and `ignoreIncludesComment` option to `vue/v-on-function-call` rule
  docs/rules/v-on-function-call.md
  lib/rules/no-restricted-v-bind.js
  lib/rules/v-on-function-call.js
  tests/lib/rules/v-on-function-call.js
Labels: bug

#1208 Fix false negatives for TemplateLiteral in `vue/prop-name-casing` rule.
  lib/rules/prop-name-casing.js
  tests/lib/rules/prop-name-casing.js
Labels: bug

#1211 Add `vue/no-deprecated-destroyed-lifecycle` rule
  docs/rules/README.md
  docs/rules/no-deprecated-destroyed-lifecycle.md
  lib/configs/vue3-essential.js
  lib/index.js
  lib/rules/no-deprecated-destroyed-lifecycle.js
  tests/lib/rules/no-deprecated-destroyed-lifecycle.js
Labels: Vue.js 3.x, new rule proposition, semver-major

#1213 Add `vue/no-restricted-component-options` rule
  docs/rules/README.md
  docs/rules/no-restricted-component-options.md
  lib/index.js
  lib/rules/no-restricted-component-options.js
  tests/lib/rules/no-restricted-component-options.js
Labels: new rule proposition
